# pip镜像源 -i https://mirrors.tuna.tsinghua.edu.cn/pypi/web/simple some-package
# python-dotenv==0.20.0
# # requests==2.24.0
# openai==2.16.0  # 1.109.1
# # 计算token的消耗量
# transformers==5.0.0  # HuggingFace库，用于加载tokenzier
# tiktoken==0.12.0  # OpenAI 官方tokenizer工具
# httpx==0.28.1  # http客户端，支持异步
# numpy==2.4.2
# faiss==1.13.2
# pypdf==6.7.3
# Pillow==12.3.0

langchain==1.2.12
langchain-core==1.2.19
langchain-deepseek==1.0.1
langchain-openai==1.1.11
langgraph==1.1.2
langgraph-checkpoint==4.0.1
langgraph-prebuilt==1.0.8
langgraph-sdk==0.3.11
langsmith==0.7.17